<h1>All Superpowers</h1>

<ul>
  <% @powers.each do |power| %>
    <li>
      Super Power: <%= link_to power.name, power_path(power) %>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>
